/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================================================================== */
/* Contenido Central */
#ContenidoCentral{
    width: 90%;
    min-height: 600px;
    background-color: whitesmoke;
    margin: auto;
}
/* Contenido Central */
/* ============================================================================== */
/* Contenido Central C1*/
#CC_C1{
    width: 100%;
    height: 450px;
    background-color: aquamarine;
}

.CC_C1_Carrucel{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightpink;
}
.CC_C1_Carrucel_Laterales{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: lightgreen;
    cursor: pointer;
}
.CC_C1_Carrucel_Laterales img{
    width: 40%;
    height: 100%;
    margin: auto;
}
.CC_C1_Carrucel_Central{
    width: 80%;
    height: 100%;
    background-color: lightyellow;
}
.CC_C1_Carrucel_Central h1{
    font-size: 60px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
    line-height: 70px;
}
/* Contenido Central C1*/
/* ============================================================================== */