/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============================================================================== */
/* Contenido Central */
#ContenidoCentral{
    width: 90%;
    min-height: 600px;
    background-color: whitesmoke;
    margin: auto;
}
/* Contenido Central */
/* ============================================================================== */
/* Contenido Central C1*/
#CC_C1{
    width: 100%;
    height: 650px;
    padding-top: 100px;
    /* background-color: aquamarine; */
}

.CC_C1_Carrucel{
    display: flex;
    width: 100%;
    height: 100%;
    /* border-bottom:1px solid black; */
    /* background-color: lightpink; */
}
.CC_C1_Carrucel_Laterales{
    display: flex;
    align-items: center;
    width: 5%;
    height: 100%;
    cursor: pointer;
    /* background-color: lightgreen; */
}
.CC_C1_Carrucel_Laterales img{
    width: 40%;
    height: 100%;
    margin: auto;
}
.CC_C1_Carrucel_Central{
    width: 90%;
    height: 100%;
    /* background-color: lightyellow; */
}
.CC_C1_Carrucel_Central h1{
    font-size: 90px;
    letter-spacing: 8px;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(151, 147, 147);
    font-weight: 600;
    line-height: 130px;
    margin-bottom: 30px;
}
.CC_C1_Carrucel_Central p{
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 000;
}
#CC_C1_Carrucel_Central_boton{
    display: block;
    width: 15%;
    height: 50px;
    background-color: rgb(10, 10, 10);
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    
}
#CC_C1_Carrucel_Central_boton a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
/* Contenido Central C1*/
/* ============================================================================== */
/* Contenido Central C2*/
#CC_C2{
    display: flex;
    width: 100%;
    height: 650px;
    margin-top: 100px;
    padding-bottom: 100px;
    /* background-color: lightcyan; */
}
.CC_C2_Laterales{
    width: 49%;
    height: 100%;
    /* background-color: lightpink; */
}
.CC_C2_Laterales:first-child{
    display: flex;
    width: 49%;
    height: 100%;
    background-color: rgb(200, 200, 200);
}
.CC_C2_Laterales img{
    height: 100%;
    margin: auto;
}
.CC_C2_Laterales p{
    font-size: 25px;
    line-height: 40px;
}
.CC_C2_Laterales p:first-child{
    font-size: 25px;
    margin-bottom: 60px;
    line-height: 40px;
}
.CC_C2_Central{
    width: 2%;
    height: 100%;
    /* background-color: lightseagreen; */
}
/* Contenido Central C2*/
/* ============================================================================== */

#CC_C3{
    width: 100%;
    height: 650px;
    padding-bottom: 100px;
    /* background-color: lightsalmon; */
}
#CC_C3_D1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    /* background-color: limegreen; */
    font-size: 60px;
    font-weight: 400px;
}
#CC_C3_D2{
    display: flex;
    width: 100%;
    height: 85%;
    /* background-color: lightcyan; */
}
.CC_C3_D2_Laterales{
    width: 49%;
    height: 100%;
    /* background-color: lightseagreen; */
}
.CC_C3_D2_Formulario{
    width: 100%;
    height: 14%;
    /* background-color: lightcyan; */
    margin-bottom: 5px;
}
.CC_C3_D2_Formulario_T{
    width: 100%;
    height: 39%;
    /* background-color: antiquewhite; */
    margin-bottom: 5px;
}
.inputs1{
    width: 96%;
    height: 90%;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 30px;
    font-size:20px;
}
.inputs1::placeholder{
    color: rgba(0, 0, 0, 0.452);
    font-size:20px;
    margin-left: 20px;
    margin-top: 20px;
}
.inputs1:focus{
    border-bottom: 2px solid black ;
    outline: none;
    /* background-color: blue; */
}
.CC_C3_D2_espaciador{
    width: 2%;
    height: 100%;
    /* background-color: lightcoral; */
}
.inputs2{
    width: 96%;
    height: 90%;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 30px;
    font-size:20px;
    vertical-align: super;
}
.inputs2::placeholder{
    color: rgba(0, 0, 0, 0.452);
    font-size:20px;
    margin-left: 20px;
    margin-top: 20px;
}
.inputs2:focus{
    border-bottom: 2px solid black ;
    outline: none;
    /* background-color: blue; */
}
#CC_C3_D2_Formulario_boton{
    display: flex;
    width: 96%;
    align-items: center;
}
.inputSubmit{
    margin: auto;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    background-color: black;
}
#CC_C3_D2_Laterales_img {
    display: flex;
    background-color: rgb(200, 200, 200);
}
#CC_C3_D2_Laterales_img img{
    height: 80%;
    margin: auto;
}
